@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.sidebar > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.sidebar h1 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -30px;
}

.main-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
}

.main-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

button {
  background-color: #fff;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
}

button:hover {
  color: #222;
}

button:focus {
  outline: none;
}

.container .controls button {
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 100;
}

.container .controls .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.container .controls .up-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.side-9 {
  background: linear-gradient(229.99deg, #027014 -26%, #f89a3b 145%);
}
.side-8 {
  background: linear-gradient(229.99deg, #eca71c -26%, #9b642d 145%);
}
.side-7 {
  background: linear-gradient(229.99deg, #86e1f8 -26%, #3a2c1a 145%);
}
.side-6 {
  background: linear-gradient(229.99deg, #11091a -26%, #1d072c 145%);
}
.side-5 {
  background: linear-gradient(229.99deg, #000000 -26%, #121213 145%);
}
.side-4 {
  background: linear-gradient(229.99deg, #7493e7 -26%, #4f93ec 145%);
}
.side-3 {
  background: linear-gradient(215.32deg, #81093b -1%, #af0c42 124%);
}
.side-2 {
  background: linear-gradient(221.87deg, #867304 1%, #2b8519 128%);
}
.side-1 {
  background: linear-gradient(220.16deg, #12880a -8%, #1d6d2f 138%);
}
.img-1 {
  background: url("https://images.unsplash.com/photo-1475518845976-0fd87b7e4e5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}
.img-2 {
  background: url("https://images.unsplash.com/photo-1548291616-bfccc8db731d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=627&q=80");
}

.img-3 {
  background: url("https://images.unsplash.com/photo-1557778358-9fb87328a7db?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80");
}

.img-4 {
  background: url("https://images.unsplash.com/photo-1587377659627-413f09c05da2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}

.img-5 {
  background: url("https://images.unsplash.com/photo-1446941611757-91d2c3bd3d45?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=502&q=80");
}

.img-6 {
  background: url("https://images.unsplash.com/photo-1513436539083-9d2127e742f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1163&q=80");
}

.img-7 {
  background: url("https://images.unsplash.com/photo-1616788494707-ec28f08d05a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
}
.img-8 {
  background: url("https://images.unsplash.com/photo-1550291652-6ea9114a47b1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
}
.img-9 {
  background: url("https://images.unsplash.com/photo-1621206593424-6e4e8f6336e9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=734&q=80");
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .sidebar h1 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: -30px;
    text-align: center;
  }
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .sidebar p {
    font-size: 14px;
    text-align: center;
  }
}

@media screen and (min-width: 300px) and (max-width: 768px) {
  .container .controls button {
    top: 55%;
  }
}
